

img {
	height:auto;	
} 

body {
	height: 2494px

}

header {

	background-image: url(../img/down-arrow.png), url(../img/large-banner-image.png);
	background-repeat: no-repeat;
	background-position: 767px 318px , 0px;
	padding-bottom: 505px;
	position: relative;
}

header h1 {
	font-family: 'Pacifico', cursive;
	font-size: 60px;
	color: #222;
	position: relative;
	width: 100px;
	left: 761px;
	top: 43px;
}

header img {
	position: relative;
	left: 671px;
	top: 110px;
}

header p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 36px;
	color: #222;
	text-align: center;
	position: relative;
	top: 97px;
}

#features {
	
	background-image: url(../img/white-dot.png),
	 url(../img/white-dot.png),
	 url(../img/white-dot.png),
	 url(../img/cursor.png),
	 url(../img/angled-line.png),
	 url(../img/black-dot.png),
	 url(../img/iphone.png);
	background-repeat: no-repeat;
	background-position: 709px 283px, 
	 709px 483px, 
	 838px 195px,
	 860px 407px, 
	 860px 400px,
	 847px 390px,
	 565px 0px; 
	height: 800px;
    z-index: 1000;
	position: relative;
	bottom: 285px;	
}

/*
693px 283px, 
	 693px 483px, 
	 832px 195px,
	 837px 390px, 
	 847px 400px,
	 847px 405px,
	 554px 0px; 
*/
#column1 h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #222;
	position: relative;
	width: 270px;
	top: 269px;
	left: 264px;
	line-height: 164px;	
}

#column2 h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #222;
	position: relative;
	width: 270px;
	bottom: 395px;
	left: 1020px;
	line-height: 164px;
}

#column1 p {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #848484;
	padding-top: 90px;
	position: relative;
	width: 300px;
	left: 265px;
	bottom: 38px;
	line-height: 26px;

}

#column2 p{
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #848484;
	padding-top: 90px;
	position: relative;
	width: 300px;
	left: 1020px;
	bottom: 702px;
	line-height: 26px;
}

#getapp {
	background-image: url(../img/cursor.png),
	 url(../img/android.png),
	 url(../img/apple.png),
	 url(../img/windows.png),
	 url(../img/play.png),
	 url(../img/video-play-bar.png),
	 url(../img/video-image.png);
	background-position: 409px 259px,
	 203px 218px,
	 289px 218px,
	 374px 218px,
	 900px 307px,
	 988px 307px,
	 882px 64px;
	 
	background-repeat: no-repeat;  
	background-color: #e3e3e3;
	height: 432px;
	width: 1583px;
	position: relative;
	bottom: 296px;
}

/*
162px 218px,
	 257px 218px,
	 350px 218px,
	 1005px 307px,
	 900px 64px,
	 850px 100px;
*/
#getapp h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #222;
	position: relative;
	width: 300px;
	left: 203px;
	top: 54px;
}

#getapp p {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #848484;
	width: 550px;
	position: relative;
	width: 530px;
	left: 203px;
	top: 74px;
	line-height: 26px;
}

#quote {
	background-image: url(../img/cursor.png),
	 url(../img/active-person.png),
	 url(../img/people.png);
	background-repeat: no-repeat;
	background-position: 924px 133px, 
	 914px 80px,
	 0px 0px;
	position: relative;
	bottom: 123px;
	height: 400px;
}

#quote h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 24px;
	position: relative;
	bottom: 117px;
	right: 2px;
	text-align: center;
}

#quote h2 {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 700;
	font-size: 14px;
	position: relative;
	bottom: 92px;
	right: 25px;
	text-align: center;
}

#quote p {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 14px;
	position: relative;
	bottom: 106px;
	width: 100px;
	left: 787px;
	text-align: center;
}

#bottom {
	background-image: url(../img/cursor.png),
	 url(../img/facebook.png),
	 url(../img/google.png),
	 url(../img/linkedin.png),
	 url(../img/pinterest.png),
	 url(../img/twitter.png),
	 url(../img/youtube.png);
	background-repeat: no-repeat;
	background-position: 768px 67px,
	 708px 46px,
	 797px 46px,
	 842px 46px,
	 752px 46px,
	 664px 46px,
	 887px 46px;
	 height: 85px; 
	 position: relative;
	 bottom: 100px; 
}

#bottom h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 24px;
	position: relative;
	bottom: 35px;
	text-align: center;
}

#bottom p {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #848484;
	position: relative;
	bottom: 15px;
	width: 600px;
	left: 493px;
	text-align: center;
}

footer {
	background-size: 1583px, 200px;
	background-color: #e3e3e3;
    position: relative;
	bottom: 10px;
	height: 121px;
}

footer p {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #848484;
	position: relative;
	right: 68px;
	top: 35px;
	text-align: center;
	word-spacing: 32px;
}

#privacypolicy p {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #848484;
	position: relative;
	width: 100px;
	left: 962px;
	top: 51px;
	text-align: center;
	word-spacing: 0px;
}



/*
background-image: url(../img/people.png),
	 url(../img/active-person.png),
	 url(../img/cursor.png),
	 url(../img/cursor.png),
	 url(../img/facebook.png),
	 url(../img/google.png),
	 url(../img/linkedin.png),
	 url(../img/pinterest.png),
	 url(../img/twitter.png),
	 url(../img/youtube.png);
	background-repeat: no-repeat;
	background-position: 50px 50px,
     70px 70px,
     90px 90px,
     110px 110px,
     130px 130px,
     150px 150px,
     170px 170px,
     190px 190px,
     210px 210px,
     230px 230px;
*/
/*
html {
	background-image: url(../comps/focus.jpg);
}
